<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div id="app">

        <main class="container">
            <div class="text-center">
                <input type="text" placeholder="ingrediente" v-model="ingredienteDaAggiungere" @keyup.enter="aggiungiIngrediente">
                <button @click="aggiungiIngrediente">Aggiungi</button>
                <p>inserisci almeno 5 caratteri</p>
            </div>
            <div>
                <ul class="todo-list">
                    <li v-for="(ingrediente,indice) in todoList">
                        <span class="todo-text"
                            :class="ingrediente.done=='true' ?'text-decoration':''">{{ingrediente.text}}</span>
                        <i class="fa-solid fa-xmark" @click="cancellaIngrediente(indice)"></i>
                    </li>
                </ul>
            </div>
        </main>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>